:root{						/*to use variables: var(--textColor)*/
	--blue: #698ddb;		/*looks kinda facebook-blue ish*/
	--green: #84ce56;		/*kermit green?*/
	--red: #ef4c4c;			/*it's just red*/
	--orange: #f49953;		/*orange...*/
	--yellow: #f2dd54;		/*sunshine, daisies, butter-mellow, turn this stupid fat rat-*/
	--purple: #a853f1;		/*do people say royal purple? maybe royal blue is more common*/
	--pink: #f98eeb;		/*it's kinda muted, but I'm not really sure how you'd get a non muted pink*/
	--grey:	#a39ba2;		/*grey ¯\_(ツ)_/¯*/
}


body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: black;
	text-align: center;
	color: white;
}


h1{
	/* opacity:0.2; */
	padding: 1em;
	font-size: 2em;	
	color: white;
	text-align: center;
}

p{
	 /* margin-right: 15%; */
	 /* clear: none; */
	 font-size:1em;
	 /* width: 40%; */
	 line-height: 2;

	 /*text-align: center;*/ 
}

.imgcontainer{
	margin-left:15%;
	max-width: 400px;
	max-height:400px;
	width: 20%;
	height: 60%;
	float:left;
	clear:left;
}

img{
	display: block;
	width: 100%;
	height: auto;

}

div.foodoverlay{
	background: rgba(255, 255, 255, 0.5);
	width: 80%;
	height: 95%;
	margin: auto;
}

div.viewrepo{
	bottom:0; 
	text-align: right; 
	width: 8%; 
	margin-left: 90%; 
	position: fixed; 
	background: rgba(255, 255, 255, 0.5); 
	color: black;
}

ul{
	list-style-type: none;
	text-align: justify;
	font-size: 1em;
	margin: auto;
}

h2{
	text-align: center;
	font-size: 1.5em;
	/* color: white; */
}

h3{
	font-weight: bold;
	font-size: 1.2em;
}

.navbar{
	margin-left: 7.5%;
	margin-right: 7.5%;
	background-color: rgba(255,255,255,0.5);
}
.navbar:after {

}
.navbar li {
    display: inline-block;
	 width: 18%; 
	text-align: center;
	/* margin-left: 5.5%;
	margin-right: 5.5%; */
	color: black;
}

a:visited, a:link, a:hover, a:active{
	color: inherit;
}

a.homebtn{
	position:fixed;
	bottom:0;
	color: black; 
	mix-blend-mode: normal;
	/* padding-top: 100%; */
	background: rgba(255, 255, 255, 0.5)
	
}

.navbar a{
	color: black;
	text-decoration: none;
	font-size: 18px;
}

.storybackground{
	background-attachment:fixed;
	background-size: cover;
	background-image: url('pictures/anna-kolosyuk-481877-unsplash.jpg');
	/* color: white; */
}

.foodbackground{
	background-attachment:fixed;
	background-size: cover;
	background-image: url('pictures/joanna-kosinska-547318-unsplash.jpg');
	color: black;
}

.bookbackground{
	background-attachment:fixed;
	background-size: cover;
	background-image: url('pictures/jamie-taylor-110195-unsplash.jpg');
	color: black;
}

body,
html,
main {
  height: 100%;
}

.fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.fixed-bg.home{
  background-image: url("pictures/diego-ph-222506-unsplash.jpg");
}
.fixed-bg.work{
  background-color: black;
  	color: green;
  	font-family: 'Roboto Mono', monospace;
}
.fixed-bg.education{
  background-image: url("pictures/joanna-kosinska-129039-unsplash.jpg");
}
.fixed-bg.extracurriculars{
  background-image: url("pictures/rawpixel-603666-unsplash.jpg");
  color: white;
}
.fixed-bg.extras{
  background-image: url("pictures/charles-deluvio-271645-unsplash.jpg");
  color: black;
}
.fixed-bg.contact{
  background-image: url("pictures/ale-vega-509503-unsplash.jpg");
  background-position: bottom;
  color: var(--blue);
}
.fixed-bg.boba{
	background-image: url("pictures/rosalind-chang-658852-unsplash.jpg");
	background-position:bottom;
	color: black;
}
.fixed-bg.breakfast{
	background-image: url("pictures/ana-azevedo-514193-unsplash.jpg");
	background-position:middle;
	color: black;
}
.fixed-bg.lunch{
	background-image: url("pictures/hermes-rivera-258743-unsplash.jpg");
	background-position:middle;
	color: black;
}
.fixed-bg.dinner{
	background-image: url("pictures/joanna-kosinska-547318-unsplash.jpg");
	background-position:bottom;
	color: black;
}
.fixed-bg.dessert{
	background-image: url("pictures/hisu-lee-110005-unsplash.jpg");
	background-position:middle;
	color: black;
}
.fixed-bg.stl{
	background-image: url("pictures/brittney-butler-498222-unsplash.jpg");
	background-position:middle;
	color: black;
}
.fixed-bg.socal{
	background-image: url("pictures/roberto-nickson-g-703034-unsplash.jpg");
	background-position:bottom;
	color: white;
}
.fixed-bg.bay{
	background-image: url("pictures/jaredd-craig-750811-unsplash.jpg");
	background-position:middle;
	color: black;
}
.fixed-bg.book{
	background-image: url("pictures/jamie-taylor-110195-unsplash.jpg");
	color: black;
}
.fixed-bg.scifi{
	background-image: url("pictures/jamie-taylor-110195-unsplash.jpg");
	color: black;
}
.fixed-bg.horror{
	background-image: url("pictures/jamie-taylor-110195-unsplash.jpg");
	color: black;
}
.fixed-bg.fantasy{
	background-image: url("pictures/jamie-taylor-110195-unsplash.jpg");
	color: black;
}
.fixed-bg.mystery{
	background-image: url("pictures/jamie-taylor-110195-unsplash.jpg");
	color: black;
}
.fixed-bg.book{
	background-image: url("pictures/jamie-taylor-110195-unsplash.jpg");
	color: black;
}

.scrolling-bg{
  min-height: 100%;
}
