:root{						/*to use variables: var(--textColor)*/
	--blue: #698ddb;		/*looks kinda facebook-blue ish*/
	--green: #84ce56;		/*kermit green?*/
	--red: #ef4c4c;			/*it's just red*/
	--orange: #f49953;		/*orange...*/
	--yellow: #f2dd54;		/*sunshine, daisies, butter-mellow, turn this stupid fat rat-*/
	--purple: #a853f1;		/*do people say royal purple? maybe royal blue is more common*/
	--pink: #f98eeb;		/*it's kinda muted, but I'm not really sure how you'd get a non muted pink*/
	--grey:	#a39ba2;		/*grey ¯\_(ツ)_/¯*/
}


body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: black;
	text-align: center;
	color: white;
}


h1{
	/* opacity:0.2; */
	padding: 40px;
	color: white;
	text-align: center;
}

p{
	 /* margin-right: 15%; */
	 /* clear: none; */
	 font-size:20px;
	 /* width: 40%; */
	 line-height: 2;

	 /* text-align: center; */
}

img{
	margin-left:15%;
	max-width: 400px;
	max-height:400px;
}

ul{
	list-style-type: none;
	text-align: justify;
	font-size: 20px;
	margin: auto;
}

h2{
	text-align: center;
	font-size: 30px;
	/* color: white; */
}

.navbar{
	margin-left: 15%;
	margin-right: 15%;
	background-color: rgba(255,255,255,0.5);
}
.navbar:after {

}
.navbar li {
    display: inline-block;
	/* width: 18%; */
	text-align: center;
	margin-left: 4.5%;
	margin-right: 4.5%;
	color: black;
}

.homebtn{
	position:fixed;
	bottom:0;
	/* color: white; */
	mix-blend-mode: normal;
	/* padding-top: 100%; */
}

.navbar a{
	color: black;
	text-decoration: none;
	font-size: 18px;
}

.storybackground{
	background-attachment:fixed;
	background-size: cover;
	background-image: url('pictures/anna-kolosyuk-481877-unsplash.jpg');
	/* color: white; */
}

.foodbackground{
	background-attachment:fixed;
	background-size: cover;
	background-image: url('pictures/joanna-kosinska-547318-unsplash.jpg');
	color: black;
}

body,
html,
main {
  height: 100%;
}
.fixed-bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.fixed-bg.home{
  background-image: url("pictures/math-83287-unsplash.jpg");
}
.fixed-bg.work{
  background-color: black;
  	color: green;
  	font-family: 'Roboto Mono', monospace;
}
.fixed-bg.education{
  background-image: url("pictures/joanna-kosinska-129039-unsplash.jpg");
}
.fixed-bg.extracurriculars{
  background-image: url("pictures/rawpixel-603666-unsplash.jpg");
  color: white;
}
.fixed-bg.extras{
  background-image: url("pictures/charles-deluvio-271645-unsplash.jpg");
  color: black;
}
.fixed-bg.contact{
  background-image: url("pictures/ale-vega-509503-unsplash.jpg");
  background-position: bottom;
  color: var(--blue);
}
.scrolling-bg{
  min-height: 100%;
}
